{
    "login_id" : "0000-00000",
    "password" : "yourpassword",
    "action" : {
        "_comment" : {
            "1"  : "お酒を飲まない（休肝日週2日以上）",
            "2"  : "1日2回以上、歯を磨く（就寝前は必須）",
            "59" : "朝食をとる",
            "72" : "たばこを吸わない",
            "95" : "歯科検診(4/1～翌3/31で1回以上)"
           "123" : "1日3食規則正しい時間にバランスの良い食事を摂る",
           "171" : "口腔ケア"
        },
        "1"  : true,
        "2"  : true,
        "59" : true,
        "72" : true,
        "95" : false,
        "123" : true,
        "171" : true,
        "default" : false
    }
}
